.container {
  width: 320px;
  display: flex;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  border: 0;
  background-color: transparent;
}
.btn:hover {
  cursor: pointer;
}
